.achievements {
    padding: 60px 120px 60px 120px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.achievements-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.achievements-content {
    display: flex;
    gap: 20px;
    align-items: center;
    align-self: center;
}

.achievements-item {
    display: flex;
    flex-direction: column;
    width: 387px;
    padding: 20px;
    justify-content: center;
    border: 1px solid #5BA1D3;
    border-radius: 10px;
}

.achievements-item h1 {
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}