#choose-us {
    padding: 20px 120px 20px 120px;
}

.choose-us-Box {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.choose-us-Content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}

.choose-us-Item {
    display: flex;
    width: 285px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
}