#faq{
    padding: 60px 120px;
}
.faq{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}
.faq-content-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.faq-content{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.faq-content-title{
    display: flex;
    justify-content: space-between;
}
.faq-content-title h2{
    font-size: 24px;
    font-weight: 600;
    color: #333;
}
.see-more{
    font-size: 30px;
    background: transparent;
    border:none;
    color: #007bff;
    cursor: pointer;
    transition: color 0.3s ease;
}
.answare{
    display: none;
    font-size: 16px;
    line-height: 1.5;
}
.see-more {
  transition: transform 0.3s ease;
}
.see-more.rotated {
  transform: rotate(90deg);
}
