#testimonial {
    padding: 60px 120px;
}

.testimonial {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.testimonial-content-box {
    display: flex;
    gap: 20px;
}

.testimonial-content {
    padding: 20px;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 590px;
}

.quote-icon {
    height: 50px;
    width: 50px;
}

.testimonial-text {
    color: #222E55;
    font-weight: 600;
}

.which-user {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.circle-user {
    height: 48px;
    width: 48px;
}

.user-name {
    color: #262626;
    font-size: 18px;
    font-weight: 600;
    word-wrap: break-word
}